<h1>Cloud Systeem</h1>

<p>
    Dit is de eerste versie van een file hosting systeem die toegang verreikt naar een cloud computing-service. Doormiddel van dit file hosting systeem kunnen bestanden beheerd worden op de cloud. Dankzij de ‘explorer’ is bestanden beheren nog nooit zo makkelijk geweest! Bij het gebruiken wijzen wij u erop dat dit nog een Proof of Concept versie is! 
</p>
<p>
    <img src="assets/afbeeldingen/daphnis_cloud_logo.png" title="Daphnis Afbeelding" alt="Dapnis afbeelding" class="img-container-homepage" />
</p>

