@import '../../globals.scss';

input{
    border: 1px solid $primary-colour;
    max-width: 450px;
    border-radius: 10px;
}

.form-control{
    display: inline-block;
}


input{
    max-width: 360px;
}