<table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col" *ngFor="let h of headers"> {{h}}</th>
      </tr>
    </thead>
    <tbody *ngIf="rows != null && rows.length > 0">
      <!-- <ng-container *ngFor="let columns of rows"> -->
        <!-- <a routerLink="/cloud/file/{{ columns?.fileId }}"> -->
          <ng-container *ngFor="let columns of rows" >
            <tr *ngIf="columns.isFolder" (click)="ShowFolder(columns.id)">
              <td>{{ columns?.name }}</td>
              <td>{{ columns?.lastChanged | date :  'dd-MM-yyyy'}}</td>
              <td>{{ columns?.type }}</td>
              <td>{{ columns?.size }}</td>
            </tr>
          </ng-container>
          <ng-container *ngFor="let columns of rows" >
            <tr *ngIf="!columns.isFolder" (click)="ShowFile(columns.id)">
              <td>{{ columns?.type}}</td>

              <td>{{ columns?.name }}</td>
              <td>{{ columns?.lastChanged | date :  'dd-MM-yyyy'}}</td>
              <td>{{ columns?.type }}</td>
              <td>{{ columns?.size }}</td>
            </tr>
          </ng-container>
    </tbody>
  </table>
  
  <div class="alert alert-warning" *ngIf="rows == null || rows.length < 1">
   Folder is leeg!
  </div>

  