<h1>Overzicht</h1>

<div class="d-flex justify-content-center" *ngIf="!this.filesLoaded">
    <div class="spinner-border text-secondary custom-spinner" role="status">
        <span class="sr-only ">Loading...</span>
    </div>
</div>

<ng-container *ngIf="this.filesLoaded && !this.errorExist">
    
    <div class="upper-menu">
    <a routerLink="/cloud/file/upload" routerLinkActive="active">
        <button class="btn btn-custom mb-2"><span class="fa fa-upload  fa-2x"></span></button>
    </a>
    </div>
    <div class="upper-menu">
        <a routerLink="/cloud/folder/create" routerLinkActive="active">
            <button class="btn btn-custom mb-2"><span class="fas fa-folder-plus fa-2x"></span></button>
        </a>    
    </div>
    <div class="upper-menu">
        <app-searchbalk placeholder="Zoek op bestandsnaam" (SearchValueChange)="searchForFile($event)"></app-searchbalk>
    </div>
 

    <cloud-table [rows]="rows"></cloud-table>
    
    <app-pagination 
        [totalItems]="folderData.totalItems" [itemsPerPages]="folderData.itemsPerPages" url="/cloud/overzicht/" (updatePage)="updateCurrentPage($event)">
    </app-pagination>
    
</ng-container>

<ng-container *ngIf="this.errorExist">
    <div class="alert alert-danger">
        Er is fout opgetreden. Hierdoor kunnen er geen bestanden getoond worden. 
    </div>
</ng-container>