<h1>Filter</h1>

<form [formGroup]="filterGroup" >
    <app-input [controller]="filterGroup?.get('startDate')" 
    (changeInput)="onMinDate($event)" 
    label="Start datum" inputType="date"></app-input>

    <app-input [controller]="filterGroup?.get('endDate')" 
    (changeInput)="onMaxDate($event)" 
    label="Eind datum" inputType="date"></app-input>

    <app-input [controller]="filterGroup?.get('searchTerms')" 
    (changeInput)="onKeyWords($event)" 
    label="Zoektermen (scheiden met komma)" inputType="date"></app-input>
</form>

<button class="btn btn-custom mb-2" (click)="resetFilter()">
    <span class="fas fa-redo-alt  fa-2x"></span>
</button>