<ng-container *ngIf="!fileDeleted">
    <ng-container *ngIf="fileLoaded | async">
        <h1>{{ file.fileName }}</h1>
        <div class="alert alert-success" *ngIf="fileUpdated">
            <p>
                Uw bestand is succesvol geüpdatet! 
            </p>
        </div>
        <div class="form-group">
            <label>Uploader: </label>
            <span>{{ this.userName }}</span>
        </div>
        <div class="form-group">
            <label>Huidige folder: </label>
                <a class="go-to-right" [routerLink]="'/cloud/explorer/' +  folder?.folderId">
                    <span>{{ folder?.folderName }}</span>
                </a> 
            <button class="btn btn-small" data-toggle="collapse" data-target="#menu">
                <i class="fas fa-bars"></i><span></span></button>
            <div id="menu" class="collapse ">
                <app-modal modalID="newFolder" spanClass="far fa-folder-open fa-2x" >
                    <cloud-folder-navigation title="Kies folder" modalName="newFolder" (folderChange)="changeFolder($event)"></cloud-folder-navigation>
                </app-modal> 
                <app-modal modalID="copyfile" spanClass="fas fa-clone fa-2x" >
                    <cloud-folder-navigation title="Kopieër bestand naar" modalName="copyfile" (folderChange)="copyFile($event)"></cloud-folder-navigation>
                </app-modal>
             </div> 
        </div>
        <div class="form-group">
            <label>Datum: </label>
            <span>{{ file.date  | date :  'dd-MM-yyyy'}}</span>
        </div>
        <div class="form-group">
            <label>Bestandsgroten: </label>
            <span>{{ file.fileSize | bytesConverter  }}</span>
        </div>

        <form [formGroup]="fileGroup" >
            <app-input [controller]="fileGroup?.get('fileName')" label="Bestandsnaam" inputType="text"></app-input>
            <app-input [controller]="fileGroup?.get('description')" label="Zoektermen (onderscheiden met een komma)" inputType="textarea"></app-input>
        </form>
    </ng-container>
    
    
    
    
    <button class="btn btn-custom mb-2" (click)="onDownloadClick()">
        <span class="fa fa-download  fa-2x"></span>
    </button>
    
    <button class="btn btn-custom mb-2" title="Wijzig" (click)="updateFile()">
        <span class="fas fa-edit  fa-2x"></span>
    </button>

    <button class="btn btn-custom mb-2" title="verwijderen" (click)="deleteFile()">
        <span class="fa fa-trash-alt  fa-2x"></span>
    </button>

    <button class="btn btn-custom mb-2" title="Delen" (click)="shareLink()">
        <span class="fas fa-share-alt fa-2x"></span>
    </button>
   
</ng-container>


<ng-container *ngIf="fileDeleted">
    <h1>Succesvol verwijderd!</h1>
    <p>
        Er is één bestand minder op de cloud.
    </p>
</ng-container>